# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# --- Backend (Python) ---

# Ambiente virtual
backend/venv/

# Banco de dados (Nunca colocamos o banco no Git)
backend/test.db

# Arquivos de cache do Python
backend/__pycache__/
__pycache__/
*.pyc


# --- Frontend (React / Vite) ---

# Dependências (pasta gigante)
frontend/node_modules/

# Arquivos de "build" (produção)
frontend/dist/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Arquivos de configuração local (segredos)
frontend/.env*
frontend/.env.*.local